.portfolio,
.project {
    margin: 0;
    overflow-x: hidden;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}


/*Header*/

.portfolio header {
    background-image: url("../img/home.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

header div {
    text-align: center;
    background-color: var(--grey-1);
    width: fit-content;
    padding: 1em;
    border: 0.3em solid var(--blue-2);
}

.home-icon {
    position: absolute;
    animation-name: up-and-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    z-index: 1
}

@keyframes up-and-down {
    from {
        bottom: 10%;
    }
    to {
        bottom: 5%;
    }
}

.home-icon img {
    height: 5em;
}

.home-icon:hover {
    animation-play-state: paused;
}


/*Nav bar*/

.portfolio nav,
.project nav {
    display: block;
    text-align: center;
    top: 0;
    background-color: var(--blue-2);
    padding: 1em;
}

.portfolio nav {
    position: sticky;
}

.portfolio nav a,
.project nav a {
    font-size: 2em;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
}

.portfolio nav a:hover {
    text-decoration: underline solid var(--blue-1);
}


/*Sections*/

.portfolio section {
    padding: 1em;
}

.portfolio section>*,
.project section>* {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio h2 {
    text-align: center;
    margin-top: 2em;
}

.two-columns {
    display: grid;
    grid-template-columns: 25% auto;
}

#presentation img {
    width: 100%;
}

.margin-left {
    margin-left: 2em;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact .flex-center a {
    display: block;
    margin-left: 2em;
    margin-right: 2em;
}

#contact img.icon {
    height: 3em;
    margin-right: 2em;
}

#contact img.logo {
    height: 3em;
}

#contact img.logo-bigger {
    height: 5em;
}

section#contact {
    padding-bottom: 5vh;
}


/*Articles*/

#portfolio article {
    width: 20vw;
    background-color: var(--blue-1);
    display: grid;
    margin-bottom: 2em;
    transition: background-color 1s, transform 1s;
}

.preload #portfolio article {
    transition: none;
}

#portfolio article img {
    max-width: 100%;
}

article h3,
article p {
    padding: 0.5em;
    margin: 0;
}

#portfolio article:hover {
    background-color: var(--grey-2);
    transform: scale(1.1);
}

article a {
    text-decoration: none;
    color: initial;
}

.zoom {
    transition: transform 2s;
}

.zoom:hover {}


/*Buttons*/

a.page-btn {
    width: fit-content;
    background-color: var(--blue-2);
    font-size: 1.5em;
    padding: 0.5em;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
    transition: background-color 2s, color 2s;
}

a.page-btn:hover {
    background-color: var(--blue-1);
    color: black;
}

.shake:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.preload a.page-btn {
    transition: none;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px);
    }
    10% {
        transform: translate(-1px, -2px);
    }
    20% {
        transform: translate(-3px, 0px);
    }
    30% {
        transform: translate(3px, 2px);
    }
    40% {
        transform: translate(1px, -1px);
    }
    50% {
        transform: translate(-1px, 2px);
    }
    60% {
        transform: translate(-3px, 1px);
    }
    70% {
        transform: translate(3px, 1px);
    }
    80% {
        transform: translate(-1px, -1px);
    }
    90% {
        transform: translate(1px, 2px);
    }
    100% {
        transform: translate(1px, -2px);
    }
}


/*Footer*/

.portfolio footer,
.project footer {
    text-align: center;
    background-color: var(--blue-2);
    height: 10vh;
}

.portfolio footer p,
.project footer p {
    padding: 1em;
    display: inline;
}

footer a {
    position: relative;
    display: inline;
    left: 30%;
    top: 25%;
}

footer .icon {
    height: 3em;
}

.project footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
}


/*Colors*/

:root {
    --grey-1: #e7eaec;
    --grey-2: #b6bbbe;
    --grey-3: #889095;
    --blue-1: #8ebcd8;
    --blue-2: #5d92b3;
}

.bg-grey-1 {
    background-color: var(--grey-1);
}


/*Font*/

.portfolio h1 {
    font-size: 4em;
}

.portfolio h2,
.project h2 {
    font-size: 3em;
}

.portfolio h3 {
    font-size: 2em;
    text-align: center;
}

.portfolio main p {
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.5em;
}

.project main p,
.project main li {
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
}


/*SVG*/

.color-gradient {
    height: 15vh;
    width: 100%;
}

.grad-0 {
    stop-color: white;
    stop-opacity: 1;
}

.grad-100-grey {
    stop-color: var(--grey-1);
    stop-opacity: 1;
}

.grey-grad-1 {
    fill: url(#grad1);
}

.grey-grad-2 {
    fill: url(#grad2);
}

section {
    padding: 0;
    margin: 0;
}

svg.color-gradient,
svg.triangle {
    display: block;
}

div.svg-triangle {
    width: 100vw;
    height: 15vh;
}


/*Page Project*/

.img-project {
    max-width: 100%;
    margin-top: 1em;
}

.columns-50-50 {
    display: grid;
    grid-template-columns: 50% auto;
}